body {
    text-align: center;
    background-color: rgba(83, 98, 103, 0.477);
}

h1 {
    background-color: rgba(171, 108, 97, 0.432);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 40px;
    font-size: 60px;
    border-bottom: 8px solid rgb(55, 51, 51);
}

.levels {
    width: 150px;
    padding: 5px;
    background-color: rgba(88, 128, 131, 0.848);
    color: rgb(255, 255, 233);

    cursor: pointer;
    margin-bottom: 60px;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.levels:hover {
    background-color: rgba(61, 94, 97, 0.665)
}

table {
    border-collapse: collapse;

    margin: auto;
    background-color: rgb(245, 241, 219);
    border: 8px solid rgb(61, 58, 51);
    height: 400px;
    width: 400px;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.15s;
    border: 1px solid black;

}

.cell:hover {
    background-color: rgba(82, 155, 160, 0.371);
}

.cell h4 {
    margin-bottom: 0px;
}

.shown {
    background-color: rgba(48, 92, 96, 0.371);
}

.modal {
    display: none;
    background-color: rgb(167, 116, 116);
    border: 5px solid white;
    width: 250px;
    height: 250px;
    padding: 20px;
    position: absolute;
    top: 250px;
    left: calc(50% - 152px);
}

.choices {
    margin-top: 10px;
}

.choices button {
    height: 21px;
    width: 21px;
    margin-top: 30px;
    margin-right: 90px;
    cursor: pointer;
    border: 2px solid black;
    background-color: rgb(220, 235, 235);
}

.choices button:hover {
    background-color: rgba(138, 231, 238, 0.407);
}

.choices span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: inline-bloc;
    margin-left: 30px;
}

.newgame-btn {
    margin-top: 50px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}

.newgame-btn:hover {
    background-color: rgba(238, 233, 208, 0.88);
}

.smiley {
    margin-bottom: 10px;
    padding: 0px;
    font-size: 30px;
}

.timer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: rgba(47, 47, 42, 0.95);
    margin-left: 50px;
    margin-top: 18px;
    position: absolute;
}

.lives {
    font-size: 24px;
    margin-top: 10px;
    position: absolute;
    margin-left: -170px;
}

footer {
    background-color: rgba(47, 46, 46, 0.495);
    position: absolute;
    bottom: 0;
    padding-top:20px;
    padding-bottom: 20px;
    width: 100%;
}
